/* CSS declarations go here */
div.container {
	margin: auto;
	width: 80vw;
}

button {
	padding: 10px;
	background-color: white;
	border: solid 1px;
	border-radius: 3px;
}

button:hover {
	background-color: grey;
}
